
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f2f4f8;
    padding: 40px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}


h1, h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}


a {
    color: #3498db;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}


p.flash-message {
    background: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-top: 10px;
}

ul li {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content;
}

button:hover {
    background-color: #2980b9;
}
